
/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #2b2d42;
    padding: 20px;
    color: #edf2f4;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #edf2f4;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #edf2f4;
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #8d99ae;
}

.hero {
    background: linear-gradient(135deg, #8d99ae, #ef233c);
    color: #edf2f4;
    padding: 100px 20px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
   
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d90429;
    color: #edf2f4;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ef233c;
}

.content {
    padding: 50px 20px;
    text-align: center;
    background-color: #edf2f4;
    animation: fadeInUp 2s ease-in-out;
}

.content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    background: linear-gradient(135deg, #ef233c, #8d99ae);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #8d99ae;
    color: #edf2f4;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    animation: popUp 1s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

footer {
    background-color: #2b2d42;
    color: #edf2f4;
    text-align: center;
    padding: 20px;
    animation: fadeInUp 2s ease-in-out;
}

/* Animations */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes popUp {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

